a {
  text-decoration: none;
  margin: 20px 30px;
  height: fit-content;
}

.card-container {
  background-color: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.1);
  z-index: 2;
}

.repo-name {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 15px;
  color: #80489c;
}

.repo-description {
  font-size: 18px;
  margin-top: 10px;
  color: #000;
}

.date-created {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  background-color: hsla(355, 100%, 73%, 1);
  border-radius: 15px;
  width: fit-content;
  padding: 5px 10px;
  color: #fff;
}

.days-spent-container {
  background-color: #06d6a0;
  position: absolute;
  padding: 10px;
  margin-top: -40px;
  border-radius: 5px;
  width: fit-content;
}

.days-spent-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.topics-container {
  display: none;
}

.topics-heading {
  text-transform: capitalize;
}

.list {
  list-style-type: disc;
  margin-left: 10px;
  margin-top: 10px;
}

.topic-name {
  font-size: 18px;
}
