.card-container {
  background-color: #fff;
  max-width: 350px;
  height: fit-content;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 30px;
}

.repo-name {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 15px;
}

.repo-description {
  font-size: 18px;
  margin-top: 10px;
}

.date-created {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  background-color: #fff;
  border-radius: 15px;
  width: fit-content;
  padding: 5px 10px;
}

.days-spent-container {
  background-color: aquamarine;
  position: absolute;
  padding: 10px;
  margin-top: -40px;
  border-radius: 5px;
  width: fit-content;
}

.days-spent-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #434242;
}
