.searchbar-container {
  background-color: #fff;
  padding: 10px 15px;
  width: 30vw;
  min-width: 330px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchbar-image {
  width: 35px;
  height: 35px;
}

form {
  flex: 1;
}

.input {
  border: none;
  padding: 10px;
  font-size: 18px;
  outline: none;
  flex: 1;
  background-image: url("../assets/images/github.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 40px;
  background-blend-mode: difference;

  width: 100%;
}

.search-btn:hover {
  cursor: pointer;
}
