* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: fit-content;
}

.repo-cards {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  border-top: 5px solid #434242;
  width: fit-content;
}
